<div class="card mt-3">
  <div class="card-body">
    <p class="card-text">
      <div class="row">
        <div class="col-md-2">
          <%= gravatar_helper(comment.user) %>
        </div>
        <div class="col-md-10">
          <p><%= comment.content %></p>
          <p class="text-muted"><em>Comment posted by <b><%= comment.user.first_name.titleize %></b> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago.</em></p>
        </div>
      </div>
    </p>
  </div>
</div>