<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Carlos Gómez</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= nav_helper(style: 'nav-link', tag_type: '') %>
      <%= login_helper('nav-link') %>
    </nav>
  </div>
</header>