<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://www.fillmurray.com/g/300/550", width: 250, alt: "Bill Murray" %>
  </div>

  <div class="col-md-8">
    <h1>About me</h1>

    <hr>
    
    <p class="lead">I been working on a several interesting projects, in which I have been able to apply all my knowledge about Rails for more than 3 years.</p>

    <p class="lead">I am interested on backend development and web technologies, also I have knowledge on frontend with Vuejs framework and style frameworks like Bootstrap and Spectre.css, I implement test driven development on Rails with Minitest or Rspec frameworks, and use Git to keep track of my code changes. For CI/CD I like Gitlab CI.</p>

    <p class="lead">Currently I mantain an administration medical app called <a href='https://medik.app'>Medik.app</a> that works with RoR and Docker.</p>
  </div>
</div>




