<h1 class="text-center">Would you like to work together?</h1>
<br>
<div class="row">
  <div class="col-md-6">
    <p class="lead">Calle Matamoros #1, Toluca, México. C.P. 50130</p>
    <p class="lead"><%= number_to_phone "018005555555" %></p>
    <p class="lead"><a href="mailto:carlos@mail.com?subject=PortfolioContact">Send me an email</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.842652787958!2d-99.65772468665348!3d19.2892076230993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd89c69005f02b%3A0xcdf09022e6bff732!2sBanamex!5e0!3m2!1ses-419!2smx!4v1550254587236"
  width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
