<main role="main" class="inner cover">
  <h1 class="cover-heading">Ruby on Rails Developer</h1>
  <p class="lead">Hi! I am Carlos, backend developer for 3+ years based on Ruby technologies and some other interesting like Docker, Continuous Integration and Deployment, AWS, etc.</p>
  <p class="lead">
    <%= link_to "Learn more", about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</main>